Repository jtmcn/datawagon-loader: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, poetry-check, requirements-sync

pytest:
  name: Run tests with pytest
  entry: bash -c 'if command -v poetry >/dev/null 2>&1; then poetry run pytest tests/ --quiet; else .venv/bin/pytest tests/ --quiet 2>/dev/null || python -m pytest tests/ --quiet; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

poetry-check:
  name: Check pyproject.toml validity
  entry: bash -c 'if command -v poetry >/dev/null 2>&1; then poetry check --no-interaction; else echo "ℹ Skipping poetry check (Poetry not installed)"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

requirements-sync:
  name: Check requirements.txt sync
  entry: bash -c 'if command -v poetry >/dev/null 2>&1; then make requirements-check; else echo "ℹ Skipping requirements sync check (Poetry not installed)"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

feat: add cleanup script for old naming convention migration
  scripts/README.md
  scripts/cleanup.sh
  scripts/cleanup_old_naming.py
  scripts/test_cleanup_pattern.py
Due: pytest

fix: remove empty GCS folder markers after cleanup
  scripts/README.md
  scripts/cleanup_old_naming.py
  scripts/remove_folder_markers.py
Due: pytest

chore: add project agent skills for BigQuery, GCS, auth, and pytest
  .agents/skills/bigquery-basics/SKILL.md
  .agents/skills/bigquery-basics/references/change-history.md
  .agents/skills/bigquery-basics/references/cli-usage.md
  .agents/skills/bigquery-basics/references/client-library-usage.md
  .agents/skills/bigquery-basics/references/continuous-queries.md
  .agents/skills/bigquery-basics/references/core-concepts.md
  .agents/skills/bigquery-basics/references/iac-usage.md
  .agents/skills/bigquery-basics/references/iam-security.md
  .agents/skills/bigquery-basics/references/mcp-usage.md
  .agents/skills/google-cloud-recipe-auth/SKILL.md
  .agents/skills/google-cloud-storage-basics/SKILL.md
  .agents/skills/google-cloud-storage-basics/references/cli-api-usage.md
  .agents/skills/google-cloud-storage-basics/references/client-library-usage.md
  .agents/skills/google-cloud-storage-basics/references/core-concepts.md
  .agents/skills/google-cloud-storage-basics/references/data-management.md
  .agents/skills/google-cloud-storage-basics/references/data-transfer.md
  .agents/skills/google-cloud-storage-basics/references/gcsfuse.md
  .agents/skills/google-cloud-storage-basics/references/high-performance-storage.md
  .agents/skills/google-cloud-storage-basics/references/iac-usage.md
  .agents/skills/google-cloud-storage-basics/references/mcp-usage.md
  .agents/skills/google-cloud-storage-basics/references/storage-intelligence.md
  .agents/skills/pytest-coverage/SKILL.md
  .claude/skills/bigquery-basics
  .claude/skills/google-cloud-recipe-auth
  .claude/skills/google-cloud-storage-basics
  .claude/skills/pytest-coverage
  CLAUDE.md
  skills-lock.json
Due: none

chore(deps)!: upgrade dependencies and drop Python 3.9
  .github/workflows/build.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/schema_inference.py
  poetry.lock
  pyproject.toml
  readme.md
  requirements-dev.txt
  requirements.txt
  setup-venv.bat
  setup-venv.sh
  tests/bigquery_manager_test.py
  update-venv.bat
  update-venv.sh
Due: pytest, poetry-check, requirements-sync

fix(tests): make CI test run pass on Python 3.10 and without GCP credentials
  pytest.ini
  tests/test_bigquery_manager.py
Due: pytest

test: raise coverage to 82.5% and fix non-Poetry install CI job
  .github/workflows/build.yml
  tests/test_create_bigquery_tables.py
  tests/test_gcs_manager.py
  tests/test_list_bigquery_tables.py
  tests/test_main_cli.py
  tests/test_retry_utils.py
Due: pytest

fix(ci): escape parens that made update-venv.bat always exit 1
  update-venv.bat
Due: none

fix(ci): exit 0 from Windows runtime-only check after verifying
  .github/workflows/build.yml
Due: none

fix: make GCS retries fire, honor TOML storage_prefix, fix python -m
  CHANGELOG.md
  datawagon/__main__.py
  datawagon/bucket/gcs_manager.py
  datawagon/main.py
  pyproject.toml
  tests/test_gcs_manager.py
  tests/test_main_cli.py
Due: pytest, poetry-check, requirements-sync

chore!: drop Python 3.10 support
  .github/workflows/build.yml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  poetry.lock
  pyproject.toml
  pytest.ini
  readme.md
  requirements-dev.txt
  requirements.txt
  setup-venv.bat
  setup-venv.sh
  update-venv.bat
  update-venv.sh
Due: poetry-check, requirements-sync

docs: configure issue tracker, triage labels, and domain docs for agent skills
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

docs: clarify agent skills pointers in CLAUDE.md
  CLAUDE.md
Due: none

docs: add domain glossary and ADR for per-version tables
  CONTEXT.md
  docs/adr/0001-one-table-per-version.md
Due: none

refactor: drop unused table_append_or_replace and matched_file, relabel bucket count
  CLAUDE.md
  datawagon-config.toml
  datawagon/objects/file_comparator.py
  datawagon/objects/managed_file_metadata.py
  datawagon/objects/managed_file_scanner.py
  datawagon/objects/source_config.py
  readme.md
  tests/conftest.py
  tests/test_file_comparator.py
  tests/test_gcs_manager.py
  tests/test_main_cli.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_source_config.py
  tests/test_version_folder_naming.py
Due: pytest

review-fix: pin invalid-config test, test legacy key via SourceConfig, docstring polish
  datawagon/objects/file_comparator.py
  datawagon/objects/managed_file_metadata.py
  tests/test_main_cli.py
  tests/test_source_config.py
Due: pytest

refactor: route Storage Folder and Table naming through StorageLayout
  CLAUDE.md
  datawagon/bucket/bigquery_manager.py
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/recreate_bigquery_tables.py
  datawagon/commands/upload_to_storage.py
  datawagon/main.py
  datawagon/objects/bigquery_table_metadata.py
  datawagon/objects/managed_file_metadata.py
  datawagon/objects/managed_file_scanner.py
  datawagon/objects/storage_layout.py
  tests/test_bigquery_manager.py
  tests/test_bigquery_table_metadata.py
  tests/test_create_bigquery_tables.py
  tests/test_file_comparator.py
  tests/test_main_cli.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_recreate_bigquery_tables.py
  tests/test_storage_layout.py
  tests/test_version_folder_naming.py
Due: pytest

refactor!: one Storage Prefix; derive per-file names from the Report Type
  .env.example
  CHANGELOG.md
  CLAUDE.md
  CONTEXT.md
  datawagon-config.toml
  datawagon/main.py
  datawagon/objects/app_config.py
  datawagon/objects/source_config.py
  datawagon/objects/storage_layout.py
  readme.md
  tests/test_create_bigquery_tables.py
  tests/test_main_cli.py
  tests/test_managed_file_scanner.py
  tests/test_recreate_bigquery_tables.py
  tests/test_source_config.py
Due: pytest

review-fix: warn on the deprecated prefix flag; tidy CHANGELOG order
  CHANGELOG.md
  datawagon/main.py
  tests/test_main_cli.py
  tests/test_source_config.py
Due: pytest

docs: note that deprecated Storage Prefix aliases rank below the new names
  CLAUDE.md
  readme.md
Due: none

Path conditions:
  pytest: any of: \.py$
  poetry-check: any of: pyproject.toml
  requirements-sync: any of: poetry.lock|pyproject.toml
