Repository jtmcn/datawagon-loader: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements-sync, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: make-check
        name: Run pre-commit checks
        entry: make pre-commit
        language: system
        pass_filenames: false
        stages: [commit]
        # To skip during development: git commit --no-verify
      - id: requirements-sync
        name: Check requirements.txt sync
        entry: bash -c 'if command -v poetry >/dev/null 2>&1; then make requirements-check; else echo "ℹ Skipping requirements sync check (Poetry not installed - non-Poetry users don'\''t need this check)"; fi'
        language: system
        pass_filenames: false
        files: 'poetry.lock|pyproject.toml'
        stages: [commit]
      - id: shellcheck
        name: Shell script linting
        entry: bash -c 'if command -v shellcheck >/dev/null 2>&1; then shellcheck setup-venv.sh update-venv.sh update.sh; else echo "ℹ Skipping shellcheck (not installed)"; fi'
        language: system
        pass_filenames: false
        files: '\.sh$'
        stages: [commit]

feat: add CI testing for non-Poetry installation and improve docs
  .github/workflows/build.yml
  readme.md
Due: none

feat: add Windows batch scripts for poetry-free installation
  setup-venv.bat
  update-venv.bat
Due: none

feat: add Windows CI testing for venv installation
  .github/workflows/build.yml
Due: none

docs: add Windows support documentation and troubleshooting
  CLAUDE.md
  readme.md
Due: none

refactor: improve Windows batch scripts with error handling and CI enhancements
  .github/workflows/build.yml
  CLAUDE.md
  setup-venv.bat
  update-venv.bat
Due: none

auto format
  datawagon/bucket/gcs_manager.py
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/drop_bigquery_tables.py
  datawagon/commands/file_zip_to_gzip.py
  datawagon/commands/files_in_local_fs.py
  datawagon/commands/migrate_to_versioned_folders.py
  datawagon/commands/upload_to_storage.py
  datawagon/console.py
  datawagon/main.py
  datawagon/objects/managed_file_scanner.py
  datawagon/security/__init__.py
  tests/test_bigquery_table_metadata.py
  tests/test_console.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_security_validators.py
  tests/test_version_folder_naming.py
Due: none

fix: apply black 25.12.0 formatting to pass CI checks
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/gcs_manager.py
  datawagon/bucket/retry_utils.py
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/drop_bigquery_tables.py
  datawagon/commands/list_bigquery_tables.py
  datawagon/logging_config.py
  datawagon/main.py
  datawagon/objects/app_config.py
  datawagon/objects/bigquery_table_metadata.py
  datawagon/objects/current_table_data.py
  datawagon/objects/file_utils.py
  datawagon/objects/managed_file_metadata.py
  datawagon/objects/managed_file_scanner.py
  datawagon/objects/source_config.py
  datawagon/security/__init__.py
  datawagon/security/validators.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/test_bigquery_manager.py
  tests/test_bigquery_table_metadata.py
  tests/test_create_bigquery_tables.py
  tests/test_logging_config.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_security_validators.py
  tests/test_source_config.py
  tests/test_version_folder_naming.py
Due: requirements-sync

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/build.yml
Due: none

user guides
  DAVE.md
  GORDON.md
Due: none

linting
  datawagon/security/__init__.py
Due: none

feat: move BigQuery config to TOML with backward compatibility
  .env.example
  CLAUDE.md
  datawagon-config.toml
  datawagon/main.py
  datawagon/objects/source_config.py
  readme.md
  tests/test_source_config.py
Due: none

fix: add complete type annotations to resolve all mypy errors
  datawagon/bucket/gcs_manager.py
  datawagon/commands/migrate_to_versioned_folders.py
  tests/conftest.py
  tests/test_console.py
  tests/test_managed_file_scanner.py
  tests/test_version_folder_naming.py
Due: none

auto format
  datawagon/commands/migrate_to_versioned_folders.py
  tests/test_managed_file_scanner.py
  tests/test_source_config.py
Due: none

refactor: consolidate mypy config into pyproject.toml
  mypy.ini
  pyproject.toml
Due: requirements-sync

isort
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/drop_bigquery_tables.py
  datawagon/commands/files_in_local_fs.py
  datawagon/commands/migrate_to_versioned_folders.py
  datawagon/commands/upload_to_storage.py
  datawagon/console.py
  datawagon/main.py
  datawagon/objects/managed_file_scanner.py
  datawagon/security/__init__.py
  tests/test_bigquery_table_metadata.py
  tests/test_console.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_security_validators.py
  tests/test_source_config.py
  tests/test_version_folder_naming.py
Due: none

feat: configure isort/black compatibility with line-length=120
  .flake8
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/gcs_manager.py
  datawagon/bucket/retry_utils.py
  datawagon/commands/compare.py
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/drop_bigquery_tables.py
  datawagon/commands/file_zip_to_gzip.py
  datawagon/commands/files_in_local_fs.py
  datawagon/commands/list_bigquery_tables.py
  datawagon/commands/migrate_to_versioned_folders.py
  datawagon/commands/upload_to_storage.py
  datawagon/console.py
  datawagon/main.py
  datawagon/objects/csv_loader.py
  datawagon/objects/file_utils.py
  datawagon/objects/managed_file_metadata.py
  datawagon/objects/managed_file_scanner.py
  datawagon/objects/parameter_validator.py
  datawagon/objects/source_config.py
  datawagon/security/__init__.py
  datawagon/security/validators.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/csv_file_info_mock.py
  tests/file_utils_test.py
  tests/test_bigquery_manager.py
  tests/test_bigquery_table_metadata.py
  tests/test_console.py
  tests/test_create_bigquery_tables.py
  tests/test_managed_file_metadata.py
  tests/test_managed_file_scanner.py
  tests/test_security_validators.py
  tests/test_source_config.py
  tests/test_version_folder_naming.py
Due: requirements-sync

feat: migrate pre-commit to official repositories
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  requirements-dev.txt
  requirements.txt
Due: none

fix: update pre-commit hook stages from deprecated 'commit' to 'pre-commit'
  .pre-commit-config.yaml
Due: none

fix: resolve CI/CD failures - pip-audit and platformdirs issues
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

fix: resolve 10 security vulnerabilities in dependencies
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

poetry update
  poetry.lock
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

fix: move pytest-cov to test dependencies to resolve CI coverage test failures
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

chore: bump version to 1.0.1
  CHANGELOG.md
  pyproject.toml
Due: requirements-sync

fix: improve Windows setup-venv.bat error handling and troubleshooting
  CLAUDE.md
  pyproject.toml
  setup-venv.bat
Due: requirements-sync

fix: resolve Windows pip upgrade file lock issue in setup-venv.bat
  pyproject.toml
  setup-venv.bat
Due: requirements-sync

feat: add data-driven BigQuery schema inference with lowercase column names
  CLAUDE.md
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/schema_inference.py
  datawagon/commands/recreate_bigquery_tables.py
  datawagon/main.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_bigquery_manager.py
  tests/test_recreate_bigquery_tables.py
  tests/test_schema_inference.py
Due: requirements-sync

feat: update scripts now display installed version
  update-venv.bat
  update-venv.sh
  update.sh
Due: shellcheck

chore: remove one-time migration command and bump version to 1.0.5
  CHANGELOG.md
  datawagon/commands/migrate_to_versioned_folders.py
  datawagon/main.py
  pyproject.toml
  readme.md
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

chore: remove dead code detected by vulture
  datawagon/bucket/bigquery_manager.py
  datawagon/commands/create_bigquery_tables.py
  datawagon/commands/recreate_bigquery_tables.py
  datawagon/console.py
Due: none

chore: bump version to 1.0.6 and update changelog
  CHANGELOG.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements-sync

feat: replace FLOAT64 with NUMERIC for exact decimal precision
  CHANGELOG.md
  datawagon/bucket/schema_inference.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_schema_inference.py
Due: requirements-sync

refactor: implement phases 1-3 of technical debt cleanup
  datawagon/bucket/schema_inference.py
  datawagon/commands/compare.py
  datawagon/objects/csv_loader.py
  datawagon/objects/file_comparator.py
  datawagon/objects/managed_file_metadata.py
  tests/test_file_comparator.py
  tests/test_managed_file_metadata.py
Due: none

feat: add observability metrics to upload operations
  datawagon/bucket/gcs_manager.py
  datawagon/commands/upload_to_storage.py
Due: none

feat: add timing metrics to schema inference
  datawagon/bucket/schema_inference.py
Due: none

feat: add storage abstraction for multi-cloud support
  datawagon/bucket/analytics_provider.py
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/gcs_manager.py
  datawagon/bucket/storage_provider.py
Due: none

chore: bump version to 1.1.0 and update changelog
  CHANGELOG.md
  pyproject.toml
Due: requirements-sync

fix!: replace NUMERIC with BIGNUMERIC for high-precision decimals
  CHANGELOG.md
  CLAUDE.md
  datawagon/bucket/schema_inference.py
  tests/test_schema_inference.py
Due: none

chore: bump version to 1.2.0
  pyproject.toml
Due: requirements-sync

fix: improve BigQuery CSV header detection for mixed-format tables
  CHANGELOG.md
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/gcs_manager.py
  datawagon/bucket/schema_inference.py
  datawagon/commands/upload_to_storage.py
  datawagon/objects/file_utils.py
  pyproject.toml
  requirements-dev.txt
  tests/bigquery_manager_test.py
  tests/test_bigquery_manager.py
  tests/test_schema_inference.py
Due: requirements-sync

test: add command layer tests and improve code quality (Phase 1)
  .github/workflows/build.yml
  Makefile
  datawagon/bucket/analytics_provider.py
  datawagon/bucket/bigquery_manager.py
  datawagon/bucket/gcs_manager.py
  datawagon/bucket/retry_utils.py
  datawagon/bucket/schema_inference.py
  datawagon/bucket/storage_provider.py
  datawagon/objects/file_utils.py
  requirements.txt
  tests/commands/test_compare.py
  tests/commands/test_files_in_storage.py
  tests/commands/test_upload_to_storage.py
Due: none
